#div-cadastro{
    width: 350px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid whitesmoke;
}
#form-cadastro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#input-label{
    width: 100%;
    margin-top: 2px;
    display: flex;
    justify-content: left;
}
#input-label input{
    width: 75%;
    color: black;
    margin-left: 5px;
}
#cadastrar{
    width: 100%;
    margin-top: 4px;
    background-color: whitesmoke;
    color:darkcyan;
    border: none;
    height: 30px;
    transition: 0.1s;
    cursor: pointer;
}
#cadastrar:hover{
    background-color:darkcyan;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}
select{
    margin-left: 13px;
}