#div-cadastro{
    width: 350px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid var(--text-claro);
}
#form-cadastro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#input-label{
    width: 100%;
    margin-top: 2px;
    display: flex;
    justify-content: space-between; 
}
#input-label input{
    width: 75%;
    color: var(--text-escuro);
}
#cadastrar{
    width: 100%;
    margin-top: 4px;
    background-color: var(--text-claro);
    color:darkcyan;
    border: none;
    height: 30px;
    transition: 0.1s;
    cursor: pointer;
}
#cadastrar:hover{
    background-color:darkcyan;
    color: var(--text-claro);
    border: 1px solid var(--text-claro);
}