*{
    margin: 0px;
    text-decoration: none;
    color: whitesmoke;
}
body{
    background-color: darkcyan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#corpo{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
