:root{
    --azul-empresa: #004479;
    --back-claro: whitesmoke;
    --text-claro: whitesmoke;
    --text-escuro: black;
}
*{
    margin: 0px;
    text-decoration: none;
    color: var(--text-escuro);
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--azul-empresa);
}

#corpo{
    width: 100%;
    height: calc(100vh - 7rem);
    display: flex;
    align-items: center;
    background-color: var(--azul-empresa);
}

#btn-production, #btn-refuse{
    margin-top: 3px;
    padding: 10px 50px;
    font-size: 20pt;
    cursor: pointer;
    background-color: var(--azul-empresa);
    color: var(--text-claro);
    border: none;
}

h1{
    text-align: center;
    padding-bottom: 5px;
    font-size:30pt;
    color: var(--azul-empresa);
}

.mensagem, .mensagemerro{
    display: block;
    text-align: center;
    position: fixed;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    z-index: 9999;
}
.mensagem{
    background-color: green;
}
.mensagemerro{
    background-color: red;
}
.mensagem p, .mensagemerro p{
    color: var(--text-claro);
    font-size: 20pt;
    text-align: center;
}