*{
    margin: 0px;
    text-decoration: none;
    color: black;
}
body{
    background-color: ghostwhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#corpo{
    width: 100%;
    height: 80vh;
    display: block;
}

#alternar{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    height: max-content;
}
#btn-production, #btn-refuse{
    margin-top: 3px;
    padding: 10px 50px;
    font-size: 20pt;
    cursor: pointer;
    background-color: #004479;
    color: whitesmoke;
    border: none;
}
#btn-production:hover, #btn-refuse:hover{
    background-color: #004579dd;
}
h1{
    text-align: center;
    padding-bottom: 5px;
    font-size:30pt;
    color: #004479;
}
