header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #004479;
    height: 80px;
    margin-bottom: 13px;
}
.nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logouser{
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imguser{
    width: 280px;
}
.logoadmin{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgadmin{
    width: 200px;
}
.a-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding: 19px 15px;
    cursor: pointer;
    height: 100%;
    transition: 0.1s;
    font-size: 32px;
    border-radius: 2px;
    color: whitesmoke;
}
.a-menu:hover{
    background-color: rgba(202, 219, 252, 0.6);
}
.sair{
    color: whitesmoke;
}
.sair:hover{
    background-color: rgba(202, 219, 252, 0.6);
}
p{
    font-size: 20pt;
}
@media(max-width: 450px){
    header {
        height: 50px;
    }
    .a-menu{
        padding: 10px 10px;
        font-size: 15px;
    }
    p{
        font-size: 12pt;
    }
    .logouser{
        width: 200px;
    }
    .imguser{
        width: 200px;
    }
}

@media(max-width: 720px){
    .logoadmin{
        width: 100px;
    }
    .imgadmin{
        width: 100px;
    }
}