#divt{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    align-items: top;
}
h2{
    width: 100%;
    text-align: center;
}
.janela-edit{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;  /*invisível*/
    align-items: top;
    justify-content: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}
.janela-editProd{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;  /*invisível*/
    align-items: top;
    justify-content: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.fechar{
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    background-color: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.fechar:hover{
    border: 1px solid red;
}
.form-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.form-item input{
    width: 70%;
    color: var(--text-escuro);
}
#submit{
    width: 100%;
    height: 30px;
    color: var(--text-claro);
    border: 1px solid var(--text-claro);
    background: transparent;
}
span{
    cursor: pointer;
}

/***************************************************************************/

.div-alternar{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn-alternar{
    background-color: var(--azul-empresa);
    color: var(--text-claro);
    padding: 5px 20px;
    margin: 2px;
    font-size: 20pt;
    cursor: pointer;
    border: 2px solid var(--text-claro);
}


/***REFUSE***/
#div-refuse{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    /*display: none;*/
    max-width: 600px;
    width: 90%;
    height: max-content;
    border: 1px solid var(--text-claro);
    overflow: auto;
    background-color: var(--text-claro);
    padding: 10px;
}
#form-refuse{
    display: block;
    margin-top: 0px;
}
label{
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
}
/******************************/
/***PRODUÇÃO***/
#div-producao{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    /*display: none;*/
    max-width: 600px;
    width: 90%;
    height: max-content;
    border: 1px solid var(--text-claro);
    overflow: auto;
    background-color: var(--text-claro);
    padding: 10px;
}
#form-producao{
    display: block;
    margin-top: 0px;
}
#form-producao textarea{
    width: 98%;
    font-size: 20pt;
    padding: 5px;
}
label{
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
}
/******************************/

/***TABLE***/
table{
    display: block;
    max-width: 600px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
tbody tr{
    cursor: pointer;
}
tbody tr:hover{
    background-color: var(--azul-empresa);
}
td, th{
    vertical-align: middle;
    text-align: left;
    font-size: 18pt;
}
td{
    border-bottom: 1px dotted gray;
}
/*************HISTÓRICO*****************/
#historico-table{
    height: 700px;
    border-collapse: collapse;
}

#historico-table thead th{
    text-align: center;
    border: 1px solid var(--text-escuro);
    padding: 10px 10px;
    background-color: var(--azul-empresa);
    color: var(--text-claro);
}
#historico-table tbody tr td{
    font-size: 16pt;
    text-align: center;
    border: 1px dotted var(--text-escuro);
}
#historico-table tbody tr:hover{
    background-color: #daeefe;
}
.tdeditar:hover{
    background-color: var(--azul-empresa);
}
.tdeditar{
    cursor: pointer;
}
.tdeditar:hover span{
    color: var(--text-claro);
}

/****************************************/
#historico-tableAdmin{
    height: 700px;
    border-collapse: collapse;
}

#historico-tableAdmin thead th{
    text-align: center;
    border: 1px solid var(--text-escuro);
    padding: 5px 5px;
    background-color: var(--azul-empresa);
    color: var(--text-claro);
}
#historico-tableAdmin tbody tr td{
    font-size: 12pt;
    padding: 0px;
    text-align: center;
    border: 1px dotted var(--text-escuro);
}
#historico-tableAdmin tbody tr:hover{
    background-color: #daeefe;
}
.tdeditar:hover{
    background-color: var(--azul-empresa);
}
.tdeditar{
    cursor: pointer;
}
.tdeditar:hover span{
    color: var(--text-claro);
}
/****************************************/
/****************************************/

/***COD**/
.div-cod{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}
.div-cod label{
    margin-bottom: 10px;
    text-align: center;
}
.div-cod input{
    height: 50px;
    width: 50%;
    font-size: 20pt;
    text-align: center;
}
/******/

/******************************/

/***MAQUINA***/
.div-maquina{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}
.div-maquina select{
    width: 70%;
    height: 50px;
    font-size: 20pt;
    text-align: center;
}
/******/

/******************************/

/***QUANTIDADE***/
.quantidade{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.div-qtd{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.quantidade label{
    margin-bottom: 10px;
    text-align: center;
}
.div-qtd input{
    width: 40%;
    text-align: center;
    font-size: 30pt;
    height: 105px;
}
.div-qtd div{
    font-size: 30pt;
}

.menos, .mais{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    border: 1px solid var(--azul-empresa);
    padding-bottom: 10px;
    cursor: pointer;
}
.mais{
    background-color: var(--azul-empresa);
    justify-content: right;
    
}
.mais:hover {
    background-color: green;
    border: 1px solid green;
}
.menos{
    background-color: var(--azul-empresa);
}
.menos:hover{
    background-color: red;
    border: 1px solid red;
}
/******/

/******************************/

/***BOTÃO ENVIAR***/
#enviar{
    width: 100%;
    margin-top: 4px;
    background-color: var(--azul-empresa);
    border: 2px solid var(--azul-empresa);
    color: var(--text-claro);
    height: 100px;
    transition: 0.1s;
    cursor: pointer;
    font-size: 32pt;

}

/******/

/******************************/
/******/


/******************************/
@media(max-width: 450px){

    #enviar{
        height: 60px;
    }
    .menos, .mais{
        width: 80px;
        height: 60px;
    }
    td, th{
        font-size: 12pt;
    }
    label{
        font-size: 18pt;
    }
    #btn-production, #btn-refuse{
        margin-top: 2px;
        padding: 8px 20px;
        font-size: 20pt;
        cursor: pointer;
        background-color: var(--azul-empresa);
        color: var(--text-claro);
        border: none;
    }
    .div-cod input, .div-maquina input{
        height: 30px;
    }
    
    /**/
    #historico-table tbody tr td{
        font-size: 13pt;
        padding: 0px;
    }
    .div-qtd input{
        height: 67px;
    }
}