*{
    margin: 0px;
}
body{
    background-color: #004479;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.main-login{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.div-login{
    width: 300px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.form-login{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 300px;
    margin-bottom: 10px;
}
label{
    color: white;
    margin-right: 2px;
}
.input-login{
    margin: 2px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding-left: 5px;
    width: 77%;
}
.input-login:focus{
    border-color: cornflowerblue;
}
.btn-login {
    margin-top: 10px;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    cursor: pointer;
    outline: none;
    background-color: #004479;
    border: 1px solid whitesmoke; 
    color: whitesmoke;
    transition: 0.1s;
}
.btn-login:hover {
    background-color: whitesmoke;
    color: #004479;
}
.btn-login:focus{
    background-color: whitesmoke;
    color: #004479;
}
.erro_login{
    display: block;
    width: 100%;
    text-align: center;
    background-color: red;
}
.erro_login p{
    color: white;
}