/***Produção***/
#div-producao{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /*display: none;*/
    max-width: 600px;
    width: 90%;
    height: max-content;
    border: 1px solid whitesmoke;
    overflow: auto;
}
#form-producao{
    display: block;
    margin-top: 0px;
}
label{
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
}
/******************************/

/***MAQUINA***/
.div-maquina{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}
.div-maquina select{
    margin-left: 5px;
    width: 60%;
    height: 50px;
    font-size: 20pt;
    text-align: center;
}
/******/

/******************************/

/***QUANTIDADE***/
.quantidade{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}
.div-qtd{
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}
.quantidade label{
    margin-bottom: 10px;
}
.div-qtd input{
    width: 50%;
    text-align: center;
    font-size: 20pt;
    height: 100px;
}
.div-qtd div{ 
    font-size: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menos, .mais{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 1px solid var(--azul-empresa);
    cursor: pointer;
}
.mais{
    display: flex;
    background-color: var(--azul-empresa);
}
.mais:hover {
    background-color: green;
    border: 1px solid green;
}
.menos{
    background-color: var(--azul-empresa);
}
.menos:hover{
    background-color: red;
    border: 1px solid red;
}
/******/

/***BOTÃO ENVIAR***/
#enviar{
    width: 100%;
    margin-top: 4px;
    background-color: var(--azul-empresa);
    border: 2px solid var(--azul-empresa);
    color: whitesmoke;
    height: 100px;
    transition: 0.1s;
    cursor: pointer;
    font-size: 32pt;

}

/******/

/******************************/
/******/
.div-motivo{
    display: block;
}
textarea{
    font-size: 22pt;
    padding: 5pt;
    width: 95%;
}
/******************************/
/******/
/******************************/


/******************************/
@media(max-width: 450px){
    #div-producao{
        margin-top: 0px;
    }
    #enviar{
        height: 80px;
    }
    .menos, .mais{
        width: 150px;
        height: 60px;
    }

    td, th{
        font-size: 12pt;
    }
    label{
        font-size: 18pt;
    }

    .div-cod input, .div-maquina input{
        height: 30px;
    }
    .div-qtd input{
        height: 60px;
    }
    
}
