*{
    margin: 0px;
    text-decoration: none;
    color: whitesmoke;
}
body{
    background-color: darkcyan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/************************* HEADER *****************************/
header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: darkcyan;
    height: 40px;
}
.nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 5px;
}
.a-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    cursor: pointer;
    width: 120px;
    transition: 0.1s;
    font-size: 15px;
    border-radius: 2px;
}
.a-menu:hover{
    background-color: rgb(0, 152, 152);
}
.sair{
    width: 50px;
    margin-left: 5px;
    color: whitesmoke;
}
.sair:hover{
    background-color: rgb(0, 152, 152);
}
/*************************FIM DO HEADER*****************************/

