
/***REFUSE***/
#div-refuse{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /*display: none;*/
    max-width: 600px;
    width: 90%;
    height: max-content;
    border: 1px solid whitesmoke;
    overflow: auto;
}
#form-refuse{
    display: block;
    margin-top: 0px;
}
label{
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
}
/******************************/

/***TABLE***/
table{
    display: block;
    max-width: 600px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
tbody tr{
    cursor: pointer;
}
tbody tr:hover{
    background-color: #004479;
}
td, th{
    vertical-align: middle;
    text-align: left;
    font-size: 18pt;
    padding-left: 2px;
}
td{
    border-bottom: 1px dotted gray;
}
/******/

/******************************/

/***COD**/
.div-cod{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}
.div-cod label{
    margin-bottom: 10px;
    text-align: center;
}
.div-cod input{
    height: 50px;
    width: 50%;
    font-size: 20pt;
    margin-top: 5px;
    text-align: center;
}
/******/

/******************************/

/***MAQUINA***/
.div-maquina{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}
.div-maquina select{
    width: 70%;
    height: 50px;
    font-size: 20pt;
    text-align: center;
}
/******/

/******************************/

/***QUANTIDADE***/
.quantidade{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.div-qtd{
    display: flex;
    width: 60%;
    justify-content: center;
    margin-bottom: 10px;
}
.quantidade label{
    margin-bottom: 10px;
    text-align: center;
}
.div-qtd input{
    width: 40%;
    text-align: center;
    font-size: 30pt;
}
.div-qtd div{
    font-size: 30pt;
}
.menos, .mais{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 1px solid #004479;
    padding-bottom: 10px;
    cursor: pointer;
}
.mais{
    display: flex;
    background-color: #004479;
}
.mais:hover {
    background-color: green;
    border: 1px solid green;
}
.menos{
    background-color: #004479;
}
.menos:hover{
    background-color: red;
    border: 1px solid red;
}
/******/

/******************************/

/***BOTÃO ENVIAR***/
#enviar{
    width: 100%;
    margin-top: 4px;
    background-color: #004479;
    border: 2px solid #004479;
    color: whitesmoke;
    height: 100px;
    transition: 0.1s;
    cursor: pointer;
    font-size: 32pt;

}
/******/

/******************************/

/******/

/******************************/
@media(max-width: 450px){
    #div-refuse{
        margin-top: 0px;
    }
    #enviar{
        height: 60px;
    }
    .menos, .mais{
        width: 80px;
        height: 60px;
    }
    td, th{
        font-size: 12pt;
    }
    label{
        font-size: 18pt;
    }
    #btn-production, #btn-refuse{
        margin-top: 2px;
        padding: 8px 20px;
        font-size: 20pt;
        cursor: pointer;
        background-color: #004479;
        color: whitesmoke;
        border: none;
    }
    .div-cod input, .div-maquina input{
        height: 30px;
    }
    
}
