#div-registro{
    display: block;
    max-width: 600px;
    width: 90%;
    height: 600px;
    border: 1px solid whitesmoke;
    overflow: auto;
}
#form-registro{
    display: block;
    margin-top: 10px;
}
label{
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
}
/******************************/

/***TABLE***/
table{
    display: block;
    max-width: 600px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
tbody tr{
    cursor: pointer;
}
tbody tr:hover{
    background-color: cornflowerblue;
}
td, th{
    vertical-align: middle;
    text-align: left;
    font-size: 18pt;
    padding-left: 2px;
}
td{
    border-bottom: 1px dotted gray;
}
/******/

/******************************/

/***COD***/
.div-cod{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.div-cod label{
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}
.div-cod input{
    height: 50px;
    width: 300px;
    font-size: 20pt;
    text-align: center;
}
/******/

/******************************/

/***QUANTIDADE***/
.div-qtd{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 10px;
}
.div-qtd label{
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}
.div-qtd input{
    width: 20%;
    text-align: center;
    font-size: 30pt;
}
.div-qtd div{
    font-size: 30pt;
}

.menos, .mais{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 100px;
    border: 1px solid cornflowerblue;
    padding-bottom: 10px;
    cursor: pointer;
}
.mais{
    background-color: cornflowerblue;
    
}
.mais:hover {
    background-color: green;
    border: 1px solid green;
}
.menos{
    background-color: cornflowerblue;
}
.menos:hover{
    background-color: red;
    border: 1px solid red;
}
/******/

/******************************/

/***BOTÃO ENVIAR***/
#enviar{
    width: 100%;
    margin-top: 4px;
    background-color: cornflowerblue;
    border: 2px solid cornflowerblue;
    color: whitesmoke;
    height: 100px;
    transition: 0.1s;
    cursor: pointer;
    font-size: 32pt;

}
#enviar:hover{
    background-color: rgb(85, 138, 238);
    color: whitesmoke;
}
/******/

/******************************/
/******/

.mensagem, .mensagemerro{
    display: block;
    position: fixed;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    
}
.mensagem{
    background-color: green;
}
.mensagemerro{
    background-color: red;
}
.mensagem p, .mensagemerro p{
    color: whitesmoke;
    font-size: 20pt;
    text-align: center;
}

/******/

/******************************/
@media(max-width: 450px){
    #enviar{
        height: 80px;
    }
    .menos, .mais{
        width: 80px;
        height: 60px;
    }
    td, th{
        font-size: 12pt;
    }
    label{
        font-size: 26pt;
    }
}