*{
    border-radius: 5px;
}
#div-registro{
    display: block;
    max-width: 600px;
    width: 90%;
    height: 700px;
    border: 1px solid whitesmoke;
    overflow: auto;
}

/******/

#table-cod{
    display: block;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#table-cod tbody{
    height: 200px;
    display: block;
    overflow: auto;
}
#table-cod th, td{
    font-size: 18pt;
    text-align: center;
}
.th-desc{
    display: block;
    margin-left: 50px;
}
td{
    text-align: left;
    padding-left: 1px;
}
#table-cod tr{
    cursor: pointer;
}
#table-cod tr:hover{
    background: cornflowerblue;
}
.codigo{
    font-size: 30pt;
}

/******/
#form-registro{
    display: block;
    margin-top: 20px;
}


/******/
.div-cod{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.div-cod label{
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}
.div-cod input{
    height: 50px;
    width: 300px;
    font-size: 20pt;
    text-align: center;
}
/******/
.div-qtd{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 20px;
}
.div-qtd label{
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}
.div-qtd input{
    width: 20%;
    text-align: center;
}
.qtd{
    font-size: 32pt;
}
.menos, .mais{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 80px;
    border: 1px solid cornflowerblue;
    padding-bottom: 10px;
    cursor: pointer;
}
.mais{
    background-color: cornflowerblue;
    
}
.mais:hover {
    background-color: green;
    border: 1px solid green;
}
.menos{
    background-color: cornflowerblue;
}
.menos:hover{
    background-color: red;
    border: 1px solid red;
}

#enviar{
    width: 100%;
    margin-top: 4px;
    background-color: cornflowerblue;
    border: 2px solid cornflowerblue;
    color: whitesmoke;
    height: 80px;
    transition: 0.1s;
    font-size: 32pt;
    cursor: pointer;

}
#enviar:hover{
    background-color: rgb(85, 138, 238);
    color: whitesmoke;
}