.divsup{
    width: 90%;
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 50px;
    padding: 50px;
    box-shadow: 0px 0px 10px #cecece;
}
img{
    margin-top: 10px;
    width: 250px;
}
p{
    color: black;
}
