.divsup{
    width: 400px;
    height: 300px;
    margin: auto;
    background-color: var(--azul-empresa);
    display: block;
    text-align: center;
    margin-top: 50px;
    padding: 50px;
}
p{
    color: var(--text-claro);
}