/***REFUSE***/
#div-refuse{
    margin-left: auto;
    margin-right: auto;
    /*display: none;*/
    max-width: 1000px;
    width: 95%;
    height: 530px;
    overflow: auto;
    padding: 0px 20px;
    background-color: whitesmoke;
    border-radius: 5px;
}
@media(max-width: 999px){
    .div-maquina{
        width: 100%;
    }
    .quantidade{
        width: 100%;
    }
    div.divCod{
        width: 100%;
    }
    div.divPn{
        width: 100%;
    }
    .div-maquina select{
        width: 325px !important;
    }
}
/******************************/
@media(max-height: 750px){
    #corpo{
        align-items: flex-start;
        padding-top: 20px;
    }
}
/******************************/
@media(max-width: 900px) and (min-height: 1000px){
    #div-refuse{
        height: 850px;
    }
    #corpo{
        align-items: start !important;
    }
} 
/******************************/
@media(max-width: 900px) and (min-height: 1100px){
    #div-refuse{
        height: 950px;
    }
    #corpo{
        align-items: start !important;
    }
}
/******************************/
@media(max-width: 450px) and (min-height: 700px){
    .div-maquina select{
        width: 100% !important;
    }
    .div-qtd{
        justify-content: center !important;
        width: 100%;
    }
    #corpo{
        align-items: start !important;
    }
    #div-refuse{
        height: 600px;
    }
}
/******************************/
@media(max-width: 450px) and (min-height: 820px){
    #div-refuse{
        height: 720px;
    }
    #table-cod{
        height: 200px !important;
    }
}
/******************************/
@media(max-width: 450px) and (min-height: 900px){
    #div-refuse{
        height: 760px;
    }
}
@media(max-width: 450px){
    #enviar{
        font-size: 26pt !important;
    }
}
@media(max-width: 950px) and (min-height: 1300px){
    #div-refuse{
        height: 1200px;
    }
    #table-pn{
        height: 500px !important;
    }
}

#form-refuse{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    justify-content: center;
}
label{
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-left: 5px;
}
/******************************/
.titulo-tabela{
    background: #004479;
    color: whitesmoke;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
}

/***MAQUINA***/
.div-maquina{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
}
.div-maquina select{
    margin-left: 5px;
    width: 200px;
    height: 30px;
    font-size: 18pt;
    text-align: center;
    border-radius: 5px;
}
/******/

.divCod{
    width: 39%;
    margin:1px;
}
.divPn{
    width: 59%;
    margin:1px;
}
/***TABLE***/
#table-cod, #table-pn{
    display: block;
    width: 100%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
#table-cod tbody tr, #table-pn tbody tr{
    cursor: pointer;
}
#table-cod tbody tr:hover, #table-pn tbody tr:hover{
    background-color: var(--azul-empresa);
}
#table-cod td, #table-pn td{
    vertical-align: middle;
    text-align: left;
    font-size: 10pt;
    padding: 0px 10px;
}

#table-cod td:hover, #table-pn td:hover{
    color: whitesmoke;
}
/******/

/******************************/

/***COD**/
.div-cod{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 5px;
}
.div-cod label{
    text-align: center;
}
.div-cod input{
    height: 26px;
    width: 100%;
    font-size: 16pt;
    text-align: center;
    border-radius: 5px;
}
/******/

/******************************/

/***QUANTIDADE***/
.quantidade{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
}
.div-qtd{
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}
.quantidade label{
    margin-bottom: 10px;
    margin-right: 5px;
}
.div-qtd input{
    width: 100px;
    text-align: center;
    font-size: 16pt;
}
.div-qtd div{ 
    font-size: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menos, .mais{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border: 1px solid var(--azul-empresa);
    cursor: pointer;
}
.mais{
    display: flex;
    background-color: var(--azul-empresa);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.mais:hover {
    background-color: green;
    border: 1px solid green;
}
.menos{
    background-color: var(--azul-empresa);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.menos:hover{
    background-color: red;
    border: 1px solid red;
}
/******/

/******************************/

/***BOTÃO ENVIAR***/
#enviar{
    width: 100%;
    margin-top: 4px;
    background-color: var(--azul-empresa);
    border: 2px solid var(--azul-empresa);
    color: var(--text-claro);
    height: 50px;
    transition: 0.1s;
    cursor: pointer;
    font-size: 32pt;
    border-radius: 5px;
    margin-bottom: 10px;
}
/******/

/******************************/

/******/


