/***REFUSE***/
#div-refuse{
    margin-left: auto;
    margin-right: auto;
    /*display: none;*/
    max-width: 1200px;
    width: 90%;
    height: 600px;
    overflow: auto;
    padding: 0px;
    background-color: whitesmoke;
    border-radius: 5px;
}

#form-refuse{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    padding: 5px;
    justify-content: center;
}
label{
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
/******************************/
/***MAQUINA***/
.div-maquina{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-bottom: 5px;
}
.div-maquina select{
    margin-left: 5px;
    width: 20%;
    height: 30px;
    font-size: 18pt;
    text-align: center;
    border-radius: 5px;
}
/******/

.divCod{
    width: 40%;
}
.divPn{
    width: 60%;
}
/***TABLE***/
#table-cod, #table-pn{
    display: block;
    width: 100%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
#table-cod tbody tr, #table-pn tbody tr{
    cursor: pointer;
}
#table-cod tbody tr:hover, #table-pn tbody tr:hover{
    background-color: var(--azul-empresa);
}
#table-cod td, #table-pn td{
    vertical-align: middle;
    text-align: left;
    font-size: 12pt;
    padding: 0px 10px;
}
#table-cod td, #table-pn td{
    border-bottom: 1px dotted gray;
}
#table-cod td:hover, #table-pn td:hover{
    color: whitesmoke;
}
/******/

/******************************/

/***COD**/
.div-cod{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 5px;
}
.div-cod label{
    margin-bottom: 5px;
    text-align: center;
}
.div-cod input{
    height: 30px;
    width: 50%;
    font-size: 18pt;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
}
/******/

/******************************/

/***QUANTIDADE***/
.quantidade{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    flex-wrap: wrap;
    margin: 0px;
}
.div-qtd{
    display: flex;
    width: 60%;
    justify-content: center;
    margin-bottom: 10px;
}
.quantidade label{
    margin-bottom: 10px;
}
.div-qtd input{
    width: 50%;
    text-align: center;
    font-size: 20pt;
}
.div-qtd div{ 
    font-size: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menos, .mais{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border: 1px solid var(--azul-empresa);
    cursor: pointer;
}
.mais{
    display: flex;
    background-color: var(--azul-empresa);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.mais:hover {
    background-color: green;
    border: 1px solid green;
}
.menos{
    background-color: var(--azul-empresa);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.menos:hover{
    background-color: red;
    border: 1px solid red;
}
/******/

/******************************/

/***BOTÃO ENVIAR***/
#enviar{
    width: 100%;
    margin-top: 4px;
    background-color: var(--azul-empresa);
    border: 2px solid var(--azul-empresa);
    color: var(--text-claro);
    height: 100px;
    transition: 0.1s;
    cursor: pointer;
    font-size: 32pt;
    border-radius: 5px;
}
/******/

/******************************/

/******/

/******************************/
@media(max-width: 450px){
    #div-refuse{
        height: 90%;
        margin-top: 0px;
        padding: 5px;
    }
    #enviar{
        height: 80px;
    }
    .menos, .mais{
        width: 80px;
        height: 60px;
    }
    td, th{
        font-size: 12pt;
    }
    label{
        font-size: 18pt;
    }
    .div-cod input, .div-maquina input{
        height: 30px;
    }
    
}

@media(max-height: 750px){
    table{
        height: 200px;
    }
    #corpo{
        align-items: flex-start;
        padding-top: 10px;
    }
}
